/* Dominic Luu */
/* CSE 343 */
/* 06/26/2018 */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

a {
    /* color: rgb(33, 158, 196); */
    color: black;
}

a:hover {
    color: inherit;
}

html {
    height: 100%;
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    /* color: lightseagreen; */
    color: black;
    font: bold;
    font-size: 3em;
}

.bold {
    font-weight: bold;
}

/********* Navigation *********/
/******************************/
/* nav {
    background-color: lightgrey;
    color: black;
    position: float;
    width: 100%;
    top: 0;
    margin-bottom: 1em;
}

nav a {
    color: black;
}

.navbar > a { /* Put everything into hamburger menu */
    display: none;
}

.fa-bars {
    font-size: 1.5em;
} */

/*****************Section Formatting****************/
/***************************************************/
main > section {
    margin: 2.5em 1em 10em 1em;
}

.profilepic > img {
    height: 50vh;
    margin-bottom: 2em;
}
.social-links > a {
    display: center;
    color: black;
    font-size: 2.5rem;
    margin: .25em;
}

ul {
    list-style-position: inside;
    display: inline-block;
    margin: 0 3.5em 1.5em 0;
}

li {
    margin-bottom: 0.25em;
}

/********** Blog formatting ***********/
/**************************************/
figcaption {
    font-size: 66%;
}

.blogphoto {
    margin-bottom: 5em;
}

.blogphoto > img {
    width: 100%;
    margin-bottom: 0.5rem;
}

/********** Footer formatting ***********/
/****************************************/
footer {
    text-align: center;
    
}

.emailContact  p {
    margin: 0.25em;
    padding: 0;
}

/********** Portfolio related formatting ***********/
/***************************************************/
#Portfolio > p {
    font-size: 1.5em;
    margin: 1em;
}

#Portfolio main > p:first-child {
    font-size: 1.5em;
    margin: 1em;
}
#Portfolio .card-title {
    font-size: 1.5em;
}

#Portfolio .card-text {
    font-size: 1em;
}

/********** Footer related formatting ***********/
/************************************************/
footer {
    margin: 15em 0em 15em 0;
}

/********************************************/
/********** Media query formatting***********/
/********************************************/
@media (min-width: 768px) {
    .navbar > a {
        display: inline;
    }
    .navbar-brand > img {
        height: 1.5em;
    }

    .navbar-brand {
        display: none;
    }

    main section {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin: 4em auto 10em auto;
    }

    .profilepic > img {
        display: inline;
        height: 60vh;
    }

    #Contact i {
        font-size: 65%;
        margin: 0.5em;
    }
}

@media (min-width: 1200px) {
    figcaption {
        font-size: 100%;
    }
}
